.footerBar {
  display: flex;
  justify-content: space-between;
  padding: 18px 28px 30px 28px;
  color: var(--sage);
}

.footerBar a {
  text-decoration: none;
}

.footerBar a:hover {
  color: var(--rust);
}
